<a href="https://colab.research.google.com/github/AshishNalawade0188/Python/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Ashish is my name,","My age is 22")
print(20)

Ashish is my name, My age is 22
20

In [ ]:
print(23+30)

53

In [ ]:
print(2.333)

2.333

In [ ]:
name = "ashish"
print(name)
age = 22
age2 = age
price = 22.22
rollno = True
a = None

ashish

In [ ]:
print("my name is ashish :",name)
print("my age is :" ,age2)
print("my price is :" ,price)

my name is ashish : ashish
my age is : 22
my price is : 22.22

In [ ]:
print(type(name))
print(type(age))
print(type(price))
print(type(rollno))
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
# ketwoeds
# and,as,assert,break,class,continue,def,del,elif,else,except,
# finally,False,for,from,global,if,import,in,is,lambda,nonlocal,
# None,not,or,pass,return,True,try,with,while,yield

In [ ]:
a = 364
b = 545
sum = a+b
print(sum)

909

In [ ]:
#  # operator
#  arithmatic operator +,-,*,/,%,**
#  relational operator ==,!=,>,<,>=,<=
#  assignment operator =,+=,-+,/+,%=,**=
#  logical operator and,or,not
#  identity operator is,is not
#  membership operator in,not in
#  bitwise operator &,|,^,~,<<,>>

In [ ]:
a = 6
b = 8

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b) # reminder
print(a ** b)
print(a // b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)
print(a > b)
print(a < b)

14
-2
48
0.75
6
1679616
0
False
True
False
True
False
True

In [ ]:
num = 10
num **=10
print(num)

10000000000

In [ ]:
#logical
print( not True)
a = 20
b = 65
print(not(b>a))

val1 = True
val2 = False
print("and operator",val1 and val2)
print("or operator",val1 or val2)

False
False
and operator False
or operator True

In [ ]:
# type conversion
a = int("5")
b = float("54.44")
sum = a+b
print(sum)
print(type(sum))

n = 641
print(str(n))
print(type(str(n)))

59.44
<class 'float'>
641
<class 'str'>

In [ ]:
name = input("enter your name :")
print(type(name), name)

enter your name :ashish
<class 'str'> ashish

In [ ]:
name = str(input("enter your name :"))
age = input("enter your age :")
marks = float(input("enter your marks :"))

print("your name ",name)
print("your age ",age)
print("your marks ",marks)

enter your name :ashish
enter your age :56
enter your marks :21.26
your name  ashish
your age  56
your marks  21.26

In [ ]:
x = int(input("enter first number :"))
y = int(input("enter second number :"))
sum = x+y
print("total",sum)

enter first number :44
enter second number :544
total 588

In [ ]:
side = float(input("enter side :"))
area = side*side
print("area :", area)

enter side :5445.55
area : 29654014.802500002

In [ ]:
a = float(input("first side:"))
b = float(input("second side:"))
c = float(input("third side:"))
average = a+b+c/3
print("average :",average)

first side:62.5
second side:52.6
third side:622.5
average : 322.6

In [ ]:
a = float(input("a ="))
b = float(input("b ="))
c = float(input("c ="))


print(a >= b)

a =65
b =32
c =45
True