<a href="https://colab.research.google.com/github/AshishNalawade0188/Python/blob/main/python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
marks = [2.03,63.2,12.3,25.5,23.5,56.8]
marks

[2.03, 63.2, 12.3, 25.5, 23.5, 56.8]

In [ ]:
print(len(marks))

6

In [ ]:
student = ["ashish",53,"age",55]
print(student)

['ashish', 53, 'age', 55]

In [ ]:
# channge name
print(student[0])
student[0] = "arjun"
print(student)

arjun
['arjun', 53, 'age', 55]

In [ ]:
#slicinng in in list
print(student[1:3])

[53, 'age']

In [ ]:
print(marks[1:6])
print(marks[:5])
print(marks[1:])

[63.2, 12.3, 25.5, 23.5, 56.8]
[2.03, 63.2, 12.3, 25.5, 23.5]
[63.2, 12.3, 25.5, 23.5, 56.8]

In [ ]:
# list method
list = [5,6,2,8,1,5,4,5,4,8,5,2]
list.append(55)
list

[5, 6, 2, 8, 1, 5, 4, 5, 4, 8, 5, 2, 55]

In [ ]:
info = [ "ashish",53,63,"sahil"]

In [ ]:
info.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
list =[5,6,3,8,3,8]
list.reverse()
print(list)

[8, 3, 8, 3, 6, 5]

In [ ]:
list.insert(2,55)
print(list)

[8, 3, 55, 55, 55, 8, 3, 6, 5]

In [ ]:
list.pop(2)

55

In [ ]:
# tuples = immutable
tup = (5,6,3,8,3,8)
print(tup)
tup1 = ()
type(tup)
print(tup[2])
tup.count(8)
tup.index(8)

(5, 6, 3, 8, 3, 8)
3

3

In [ ]:
movie = []
movie.append(input("Movie name "))
movie.append(input("Movie name"))

movie.append(input("Movie name"))
movie.append(input("Movie name"))
movie.append(input("Movie name"))
print(movie)

Movie name ravan
Movie nameboothnath
Movie namesalar
Movie namekgf
Movie namedon
['ravan', 'boothnath', 'salar', 'kgf', 'don']

In [ ]:
list = [1,2,3,2,1]
list.copy
if(list == list.copy()):
  print("pallindrome")
else:
  print("not pallindrome")

pallindrome

In [ ]:
grades = ["A","B","C","D","A"]
grades.sort()
print(grades)

['A', 'A', 'B', 'C', 'D']