<a href="https://colab.research.google.com/github/AshishNalawade0188/Python/blob/main/python5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#loops
# while loops
count = 1
while count <=  100:
  print("hello", count
  count += 1

hello 1 1
hello 2 2
hello 3 3
hello 4 4
hello 5 5
hello 6 6
hello 7 7
hello 8 8
hello 9 9
hello 10 10
hello 11 11
hello 12 12
hello 13 13
hello 14 14
hello 15 15
hello 16 16
hello 17 17
hello 18 18
hello 19 19
hello 20 20
hello 21 21
hello 22 22
hello 23 23
hello 24 24
hello 25 25
hello 26 26
hello 27 27
hello 28 28
hello 29 29
hello 30 30
hello 31 31
hello 32 32
hello 33 33
hello 34 34
hello 35 35
hello 36 36
hello 37 37
hello 38 38
hello 39 39
hello 40 40
hello 41 41
hello 42 42
hello 43 43
hello 44 44
hello 45 45
hello 46 46
hello 47 47
hello 48 48
hello 49 49
hello 50 50
hello 51 51
hello 52 52
hello 53 53
hello 54 54
hello 55 55
hello 56 56
hello 57 57
hello 58 58
hello 59 59
hello 60 60
hello 61 61
hello 62 62
hello 63 63
hello 64 64
hello 65 65
hello 66 66
hello 67 67
hello 68 68
hello 69 69
hello 70 70
hello 71 71
hello 72 72
hello 73 73
hello 74 74
hello 75 75
hello 76 76
hello 77 77
hello 78 78
hello 79 79
hello 80 80
hello 81 81
hello 82 82
hello 83 83
hello 84 84
hello 85 85
hello 86 86
hello 87 87
hello 88 88
hello 89 89
hello 90 90
hello 91 91
hello 92 92
hello 93 93
hello 94 94
hello 95 95
hello 96 96
hello 97 97
hello 98 98
hello 99 99
hello 100 100

In [ ]:
i = 1
while i<=5 :
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 5
while i>=1 :
  print(i)
  i -= 1

5
4
3
2
1

In [ ]:
#practice question
i = 1
while i <= 100 :
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
i = 100
while i >= 1 :
  print(i)
  i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
n = int(input("enter a number"))
i = 1
while i <=10 :
  print(i*n)
  i += 1

enter a number12
12
24
36
48
60
72
84
96
108
120

In [ ]:
list = [1, 4, 9, 16, 36, 49, 64, 81, 100]


len(list)
index = 0
while index < len(list):
  print(list[index])
  index += 1

1
4
9
16
36
49
64
81
100

In [3]:
heros = ['hanuman', 'batman', 'antman', 'spiderman']

i = 0
while i < len(heros):
    print(heros[i])
    i += 1

hanuman
batman
antman
spiderman

In [27]:
tup = (1, 4, 9, 16, 36, 49, 64, 81, 100, 36)
x = 36
i = 0
while i < len(tup):
  if(tup[i] == x) :
    print("number found",i)


  else:
    print("not found")
  i += 1

not found
not found
not found
not found
number found 4
not found
not found
not found
not found
number found 9

In [25]:
# Break and Continue
i = 1
while i <= 5 :
  print(i)
  if(i == 3):
    break
  i += 1

1
2
3

In [28]:
tup = (1, 4, 9, 16, 36, 49, 64, 81, 100, 36)
x = 36
i = 0
while i < len(tup):
  if(tup[i] == x) :
    print("number found",i)
    break

  else:
    print("not found")
  i += 1

not found
not found
not found
not found
number found 4

In [37]:
# continue
i = 1
while i <= 10:
  if(i%2 == 0):
    i += 1
    continue
  print(i)
  i += 1

1
3
5
7
9

In [40]:
# for loops
list = [1,2,3,4,5,6,7,8,9]
for i in list:
  print(i)

1
2
3
4
5
6
7
8
9

In [43]:
STR = "OHDWCUIHIWBCIHCCHC"
for i in STR:
  if(i == 'C'):
    break
  print(i)
else :
  print("loop completed")

O
H
D
W

In [45]:
tup = [1, 4, 9, 16, 36, 49, 64, 81, 100, 36]
for i in tup:
  print(i)

1
4
9
16
36
49
64
81
100
36

In [47]:
tup = [1, 4, 9, 16, 25,36, 49, 64, 81, 100, 36]
x = 100
a = 0
for i in tup:
  if(i == x):
    print("number found",a)
    break
  a += 1

number found 9

In [48]:
#range()

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [52]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [54]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

for i in range(100,0,-1):
  print(i)

In [57]:
n = int(input("enter a number"))
for i in range(1,11):
  print(i*n)

enter a number5
5
10
15
20
25
30
35
40
45
50

In [ ]:
#pass statement ,null statement

for i in range(5):
  pass
print("some useful code")

In [ ]:
n = 5
sum = 0