<a href="https://colab.research.google.com/github/AshishNalawade0188/Python/blob/main/python4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# dict
dict = {"name":"ashish",
        "Age":25,
        "class":"BE",
        25:36,
        "marks":[6,3,9,2,3]}
print(dict)

print(dict.keys())
print(dict.values())
print(dict.items())

print(dict.get("marks"))

dict["Age"] = 22
dict['class'] = "TE"
print(dict)

{'name': 'ashish', 'Age': 25, 'class': 'BE', 25: 36, 'marks': [6, 3, 9, 2, 3]}
dict_keys(['name', 'Age', 'class', 25, 'marks'])
dict_values(['ashish', 25, 'BE', 36, [6, 3, 9, 2, 3]])
dict_items([('name', 'ashish'), ('Age', 25), ('class', 'BE'), (25, 36), ('marks', [6, 3, 9, 2, 3])])
[6, 3, 9, 2, 3]
{'name': 'ashish', 'Age': 22, 'class': 'TE', 25: 36, 'marks': [6, 3, 9, 2, 3]}

In [16]:
nul_dict = {}
nul_dict["name"]="ashish"
print(nul_dict)

{'name': 'ashish'}

In [20]:
#nested dict
student = {
    "name":"ashish",
    "subject" : {
        "marathi":52,
        "hindi":65,
        "english":85
    }
}
print(student['subject']["marathi"])

52

In [22]:
dict.keys()

dict_keys(['name', 'Age', 'class', 25, 'marks'])

In [26]:
len(student['subject'])

3

In [27]:
dict.items()

dict_items([('name', 'ashish'), ('Age', 22), ('class', 'TE'), (25, 36), ('marks', [6, 3, 9, 2, 3])])

In [30]:
pairs =list(student.items())
print(pairs[1])

('subject', {'marathi': 52, 'hindi': 65, 'english': 85})

In [33]:
student.get("subject")

{'marathi': 52, 'hindi': 65, 'english': 85}

In [37]:
newdict ={"roll No":51}
newdict.update({"name":"hiussain"})
print(dict)

{'name': 'hiussain', 'Age': 22, 'class': 'TE', 25: 36, 'marks': [6, 3, 9, 2, 3]}

In [39]:
dict.pop("name")

'hiussain'

In [54]:
#sets
sets = {5,"hello",1,2,3,4,5,3,2,"world","world"}
print(sets)
type(sets)

{1, 2, 3, 4, 5, 'world', 'hello'}

set

In [61]:
#empty set
seat = set()
seat.add("ashish")
seat.add("hiussain")
seat.add("ashish")
seat.remove("ashish")
seat.pop()
seat.clear()
print(seat)

set()

In [64]:
collection = {"ashish","hiussain","ashish"}
print(collection.pop())
collection = {"ashish","hiussain","ashish"}
print(collection.pop())

hiussain
hiussain

In [67]:
set1 ={1,2,3,4,5,6,2,3,1,5,4}
set2 = {52,15,8,5,3,1,6,5}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))

{1, 2, 3, 4, 5, 6, 8, 15, 52}
{1, 3, 5, 6}
{2, 4}

In [70]:
dictonary = {
    "cat" : "a small animal",
    "table" : ["a piece of furnitire","list of facts & figures"]
}
print(dictonary["table"])

['a piece of furnitire', 'list of facts & figures']

In [78]:
classes = {"python","java","c++","javascript","python","c","java","java","python","c++"}
print(classes)

{'python', 'c++', 'c', 'javascript', 'java'}

In [81]:
marks = {}
x = int(input("enter marks"))
marks["physics"] = x
x = int(input("enter marks"))
marks["chemistry"] = x
x = int(input("enter marks"))
marks["maths"] = x
print(marks)

enter marks12
enter marks53
enter marks25
{'physics': 12, 'chemistry': 53, 'maths': 25}

In [84]:
sets = {9,9.0,9.00,9.000,"9.0"}
print(sets)

{9, '9.0'}

In [86]:
ak = {
    ("float",9.0),
    ("int",9)
}
print(ak)

{('float', 9.0), ('int', 9)}