<a href="https://colab.research.google.com/github/AshishNalawade0188/Python/blob/main/python10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [2]:
import sys

print(sys.version)

3.11.13 (main, Jun  4 2025, 08:57:29) [GCC 11.4.0]

In [4]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [5]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [6]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [7]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [8]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [10]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x,y,z)

3 3 3.0

In [11]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [12]:
x = "John"
# is the same as
x = 'John'

In [13]:
a = 4
A = "Sally"
#A will not overwrite a

In [14]:
#leagal Variable
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# illegal variable name
2myvar = "John"
my-var = "John"
my var = "John"

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [17]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [18]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [19]:
x = "Python is awesome"
print(x)

Python is awesome

In [20]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [21]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [22]:
x = 5
y = 10
print(x + y)

15

In [23]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
x = 5
y = "John"
print(x, y)

5 John

In [25]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [26]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [27]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [28]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [29]:
x = 1    # int
y = 2.8  # float
z = 1j

In [30]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [31]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [32]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [33]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [34]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [35]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [48]:
import random

print(random.randrange(1, 10))

1

In [49]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [50]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [51]:
a = "Hello, World!"
print(a[1])

e

In [52]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [53]:
a = "Hello, World!"
print(len(a))

13

In [54]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [55]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [56]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [57]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [58]:
b = "Hello, World!"
print(b[2:5])

llo

In [60]:
b = "Hello, World!"
print(b[:5])

Hello

In [61]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [62]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [63]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [64]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [65]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [66]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [67]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [68]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [69]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [70]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [72]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [73]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [74]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [75]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (ipython-input-75-4106093343.py, line 1)

In [77]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [78]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [79]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [80]:
print(bool("Hello"))
print(bool(15))

True
True

In [81]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [82]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [83]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [84]:
def myFunction() :
  return True

print(myFunction())

True

In [85]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [86]:
x = 200
print(isinstance(x, int))

True

In [87]:
print(100 + 5 * 3)

115