<a href="https://colab.research.google.com/github/AshishNalawade0188/Python/blob/main/python6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#functions and recursion
def sum_cal(a,b):
  sum = a + b
  print(sum)
  return sum

sum_cal(10,20)
sum_cal(2,63)

30
65

65

In [5]:
def sum(a,b):
  return a+b
sum = sum(10,20)
print(sum)

30

In [7]:
def print_hello():
  print("hello")
print_hello()
print_hello()
print_hello()

hello
hello
hello

In [8]:
# avg od 3 num

def avg(a,b,c):
  avg = a+b+c/3
  print(avg)
  return avg
avg(52,36,12)

92.0

92.0

In [9]:
print("apna clg",end=" ")
print("ashish nalawade")

apna clg ashish nalawade

In [1]:
# by default value
def sum(a=5,b=9):
  print(a+b)
  return a+b
sum()

14

14

In [2]:
# by default value
def sum(a,b=9):
  print(a+b)
  return a+b
sum(5)

14

14

In [4]:
cities = ["delh","pune","mumbai","kolkatta","goa"]
heros = ["ironman","spiderman","hanuman"]
def print_len(list):
  print(len(list))

print_len(cities)
print_len(heros)

5
3

In [6]:
cities = ["delh","pune","mumbai","kolkatta","goa"]
def print_list(list):
  for item in list:
    print(item,end=" ")
print_list(cities)

delh pune mumbai kolkatta goa

In [20]:
# fact calculate
n = int(input("Enter the number: "))
def cal_fact(n):
  fact = 1
  for i in range(1, n+1):
    fact *= i
  print(fact)
cal_fact(n)

Enter the number: 5
120

In [22]:
n = int(input("Enter the USD value :"))
def converter(Usd_val):
  ind_val = Usd_val * 80
  print("India Value :", ind_val, "USD Value", Usd_val)
converter(n)

Enter the USD value :52
India Value : 4160 USD Value 52

In [24]:
n = int(input("Enter a number :"))

def odd_even(n):
  if n%2 == 0:
    print("string is Evan")
  else:
    print("string is odd")
odd_even(n)

Enter a number :52
string is Evan

In [27]:
#recusrion

n = int(input("enter a number :"))
def show(n):
  if(n == 0):
    return
  print(n)
  show(n-1)
show(n)

enter a number :5
5
4
3
2
1

In [30]:
n = int(input("Enter a number"))

def fact(n):
  if(n==1 or n==0):
    return 1
  else:
    return n * fact(n-1)
fact(n)

Enter a number32

263130836933693530167218012160000000

In [34]:
n = int(input("Enter a number :"))
def cal_sum(n):
  if(n==0):
    return 0
  sum = n + cal_sum(n-1)
  return sum
cal_sum(n)

Enter a number :5

15

In [36]:
cities = ["delh","pune","mumbai","kolkatta","goa"]

def p_list(list, idx=0):
  if(idx == len(list)):
    return
  print(list[idx])
  p_list(list, idx+1)
p_list(cities)

delh
pune
mumbai
kolkatta
goa